extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let icecreamid = toShow._id 
    - let iflavor = toShow.flavor  
    - let iprice = toShow.price 
    - let iquantity = toShow.quantity
    - let actionid = "/resource/icecream/" +icecreamid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='iceAttr mr-3') IceCream Id  is: 
        div #{icecreamid} 
      div.row 
        div(class='iceAttr mr-3') flavor is: 
        div #{iflavor} 
      div.row 
        div(class='iceAttr mr-3') Price is: 
        div #{iprice} 
      div.row 
        div(class='iceAttr mr-3') Quantity is: 
        div #{iquantity} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/costumes' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/costumes' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 